/* ---------- RESET ---------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ---------- TYPO ---------- */
body {
    font-family: 'Montserrat', sans-serif;
}

/* ---------- COMMONS ---------- */
