/* ------------ RESET ------------ */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------ TYPO ------------ */
body {
    font-family: 'Montserrat', sans-serif;
}

header button, .left.col h3, .top.nav li a {
    text-transform: uppercase;
}

/* ----------- COMMONS ----------- */
body, header .fixed.container, main .left.col {
    background-color: black;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    margin: 8px 0;
}

a:hover, h4:hover, i:hover, h3, h4.title, .account h4, .home {
    color: white;
}

button {
    background-color: transparent;
    border-style: none;
}

button:active {
    transform: translateY(2px);
}

main .playlist button span, main .playlist button i, .top.nav ul li {
    line-height: 50px;
    vertical-align: middle;
    display: inline-block;
}


/* ------------ HEADER ------------ */
header .fixed.container {
    width: 60vw;
    height: 60px;
    margin: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}

header .flex.row {
    height: 100%;
    justify-content: flex-end;
    padding-top: 10px;
}

header .box {
    margin: 0 20px;
}

header button {
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 30px;
    font-weight: 500;
    cursor: pointer;
}

header button:hover {
    transform: scale(1.1);
}



/* ------------- MAIN ------------- */
/* ----- LEFT COL ----- */
main, main a, main h4, main i {
    color: rgb(163 , 163, 163);
}

main .left.col {
    width: 220px;
    padding: 0 20px;
    padding-top: 8px;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
}

main .left.col img[src="img/logo.svg"] {
    height: 40px;
    margin-left: -40px;
}

main .left.col img[src="img/logo-small.svg"] {
    display: none;
}

main .left.col > ul img, .account > img {
    height: 25px;
}

main .left.col li img, main .left.col li span, .account > * {
    vertical-align: middle;
}

main aside button i {
    font-size: 40px;
}

main h4 {
    font-size: 18px;
}

.download.app img {
    height: 20px;
    vertical-align: bottom;
}

.account > img {
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    padding: 3px;
}

.bottom.aside > div {
    margin: 8px 0;
}

.account > span {
    display: inline-block;
}

.bottom.aside span {
    margin-left: 6px;
}

.limebord {
    position: relative;
}

.active::before {
    content: "";
    border-left: 2px solid lime;
    position: absolute;
    top: 8px;
    left: -15px;
    height: 25px;
}

/* ----- RIGHT COL ----- */
main .right.col {
    min-width: calc(100vw - 220px);
    background-color: rgb(20, 25, 34);
    margin-top: 60px;
}

.top.nav {
    text-align: center;
}

.top.nav li {
    margin: 0 20px;
    font-weight: 700;
}

.in-evidenza {
    position: relative;
}

.in-evidenza::after {
    content: "____";
    color: lime;
    position: absolute;
    left: 40px;
    top: -8px;
}

.albums {
    max-height: 510px;
    overflow-y: auto;
}

.card {
    width: calc((100% / 6) - 20px);
    cursor: pointer;
    margin: 10px;
}

.cover > img {
    width: 100%;
}

.card * {
    font-size: 1em;
    text-align: center;
}

.card .description > * {
    font-size: 0.8em;
    margin-top: 3px;
}
.play > i {
    color: white;
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.cover {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.cover:hover img {
    opacity: 0.3;
}
  
.cover:hover i {
    opacity: 1;
}

.third.row .cover, .third.row img {
    border-radius: 100%;
}

.albums .row.title, .albums .row.subtitle {
    margin: 10px 0 0 10px;
}

.flex.row {
    margin-bottom: 25px;
}

/* -------------- FOOTER -------------- */
footer {
    width: 100vw;
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 12;
    background-color: rgb(40, 40, 40);
}














footer * {
    border: 1px solid yellow;
}









/* ------------ RESPONSIVE ------------ */
/* da 701px a 1100px */
@media screen and (max-width: 1100px) {
    .card {
        width: calc((100% / 4) - 20px);
    }

    .albums > .row {
        flex-wrap: wrap;
    }
}

/* da 601px a 700px */
@media screen and (max-width: 700px) {
    .card {
        width: calc((100% / 2) - 20px);
    }
}

/* da 0 a 600px */
@media screen and (max-width: 600px) {
    main .left.col img[src="img/logo.svg"], main div.playlist, main span, .left.col h3, .left.col h4, hr {
        display: none;
    }

    main .left.col img[src="img/logo-small.svg"] {
        display: block;
    }
    
    main .left.col {
        width: 70px;
    }
}